{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Profilia
        {% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
    >

    <script>

        tailwind.config = {

            theme: {

                extend: {

                    fontFamily: {
                        sans: ["Inter", "sans-serif"]
                    },

                    colors: {

                        brand: {
                            navy: "#13223a",
                            green: "#02bc4d",
                            lightgreen: "#00d461",
                        }

                    }

                }

            }

        }

    </script>

    <style>

        body {
            background-color: #13223a;

            background-image:
                radial-gradient(
                    rgba(255, 255, 255, 0.07) 1px,
                    transparent 1px
                );

            background-size: 24px 24px;
        }

    </style>

</head>


<body
    class="
        min-h-screen
        font-sans
        flex
        items-center
        justify-center
        px-4
        py-8
    "
>

    {% block content %}
    {% endblock %}

</body>

</html>